body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #222;
}
.goBack {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 38px;
  height: 38px;
  background: url(../img/back.png) no-repeat;
  background-size: 38px 38px;
}
/*顶部搜索*/
.search-index {
  display: flex;
  position: fixed;
  top: 0%;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  width: 100%;
  min-width: 320px;
  max-width: 540px;
  height: 44px;
  color: #666;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.search-index .search {
  position: relative;
  flex: 1;
  height: 26px;
  border: 1px solid #ccc;
  margin: 7px 10px;
  border-radius: 5px;
  line-height: 24px;
  font-size: 12px;
  padding-left: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.search-index .search::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat -59px -280px;
  background-size: 104px auto;
}
.search-index .user {
  width: 44px;
  height: 44px;
  font-size: 12px;
  text-align: center;
  color: #2eaae0;
}
.search-index .user::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/sprite.png) no-repeat -59px -194px;
  background-size: 104px auto;
  margin: 4px auto -2px;
}
/*焦点图*/
.focus {
  padding-top: 44px;
  position: relative;
  overflow: hidden;
}
.focus ul {
  width: 500%;
  overflow: hidden;
  margin-left: -100%;
}
.focus ul li {
  float: left;
  width: 20%;
  transition: all 0.3s;
}
.focus img {
  width: 100%;
}
.focus ol {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
}
.focus ol li {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background: red;
}
.focus ol .current {
  width: 10px;
}
/*局部导航栏*/
.local-nav {
  display: flex;
  height: 64px;
  margin: 3px 4px;
  background-color: #fff;
  border-radius: 8px;
}
.local-nav li {
  flex: 1;
}
.local-nav a {
  display: flex;
  flex-direction: column;
  /* 侧轴居中对齐 因为是单行 */
  align-items: center;
  font-size: 12px;
}
.local-nav a .local-nav-icon {
  width: 32px;
  height: 32px;
  background-color: pink;
  margin-top: 8px;
  background: url(../img/localnav_bg.png) no-repeat;
  background-size: 32px auto;
}
.local-nav a .local-nav-icon-icon1 {
  background-position: 0 0;
}
.local-nav a .local-nav-icon-icon2 {
  background-position: 0 -32px;
}
.local-nav a .local-nav-icon-icon3 {
  background-position: 0 -64px;
}
.local-nav a .local-nav-icon-icon4 {
  background-position: 0 -96px;
}
.local-nav a .local-nav-icon-icon5 {
  background-position: 0 -128px;
}
/* 主导航栏 */
nav {
  overflow: hidden;
  border-radius: 8px;
  margin: 0 4px 3px;
}
.nav-common {
  display: flex;
  height: 88px;
  /* -n+2就是选择前面两个元素 */
}
.nav-common .nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.nav-common .nav-items a {
  flex: 1;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  /* 文字阴影 */
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.nav-common .nav-items a:nth-child(1) {
  border-bottom: 1px solid #fff;
}
.nav-common .nav-items:nth-child(1) a {
  border: 0;
  background: url(../img/hotel.png) no-repeat bottom center;
  background-size: 121px auto;
}
.nav-common .nav-items:nth-child(-n + 2) {
  border-right: 1px solid #fff;
}
.nav-common:nth-child(1) {
  background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}
.nav-common:nth-child(2) {
  background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}
.nav-common:nth-child(3) {
  background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}
.nav-common:nth-child(2) {
  margin: 3px 0;
}
/*subnav-entry*/
.subnav-entry {
  display: flex;
  border: 1px solid #fff;
  flex-wrap: wrap;
  border-radius: 8px;
  margin: 0 4px;
  padding: 5px 0;
  background: #fff;
}
.subnav-entry li {
  flex: 20%;
  list-style: none;
}
.subnav-entry li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subnav-entry li span[class^="icon"] {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-top: 4px;
  background: url(../img/subnav-bg.png) no-repeat;
  background-size: 28px auto;
}
.subnav-entry li .icon2 {
  background-position: 0 -32px !important;
}
.subnav-entry li .icon3 {
  background-position: 0 -64px !important;
}
.subnav-entry li .icon4 {
  background-position: 0 -98px !important;
}
.subnav-entry li .icon5 {
  background-position: 0 -128px !important;
}
.subnav-entry li .icon6 {
  background-position: 0 -160px !important;
}
.subnav-entry li .icon7 {
  background-position: 0 -194px !important;
}
.subnav-entry li .icon8 {
  background-position: 0 -226px !important;
}
.subnav-entry li .icon9 {
  background-position: 0 -256px !important;
}
.subnav-entry li .icon10 {
  background-position: 0 -286px !important;
}
/* 销售模块 */
.sales-box {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fff;
  margin: 10px 4px 4px;
}
.sales-box .sales-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #ccc;
}
.sales-box .sales-hd h2 {
  text-indent: -999px;
  overflow: hidden;
}
.sales-box .sales-hd h2::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 20px;
  width: 79px;
  height: 15px;
  background: url(../img/hot.png) no-repeat 0 -20px;
  background-size: 79px auto;
}
.sales-box .sales-hd .more {
  position: absolute;
  right: 5px;
  top: 0px;
  background: -webkit-linear-gradient(left, #ff4f67, #ff6bc5);
  border-radius: 15px;
  padding: 3px 20px 3px;
  color: #fff;
  font-size: 14px;
}
.sales-box .sales-hd .more::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 110px;
  width: 0;
  height: 0;
  border-top: 5px solid red;
  border-right: 5px solid #4400ff;
  border-left: 5px solid #00ff37;
  border-bottom: 5px solid #91ff00;
}
.sales-box .sales-hd .more::after {
  position: absolute;
  content: "";
  top: 9px;
  right: 10px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}
.sales-box .sales-bd .row {
  display: flex;
}
.sales-box .sales-bd .row a {
  flex: 1;
}
.sales-box .sales-bd .row a:nth-child(1) {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.sales-box .sales-bd .row a img {
  width: 100%;
}
